*DS_Store*
*deps/*.*o
*.cache
*~
*log
*.status
libtool
stamp-h*
*.la
*.o
*.lo
*libs
*so_locations
test/*libs
*.dSYM
*/.dirstamp
*/*/.dirstamp
*/.deps/*.*o
confdefs.h
config.h
conftest*
Makefile
libmspack.pc
libmspack-*.*/*
